@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// === MIXIN ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-text {
  text-transform: uppercase;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  line-height: 1.4;
}
// === / MIXIN ===

// === VARIABLES ===
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;

$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: 15px;
$fs-sm: 16px;
$fs-md: 24px;
$fs-lg: 36px;
$fs-xl: 48px;
$fs-xxl: 114px;

$padding-vertical-xxl: $base * 45;
$padding-vertical-xl: $base * 35;
$padding-vertical-md: $base * 25;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$transition: 0.2s;

// Gray
$color-primary-50: #fdfdff;
$color-primary-100: #f1f3f2;
$color-primary-200: #bdbdbd;
$color-primary-300: #ababab;
$color-primary-500: #767474;
$color-primary-700: #333b41;

// Red
$color-danger: #d31414;

// Orange
$color-primary-active-300: #fe9013;
$color-primary-active-500: #f9804b;
$color-primary-active-700: #e47209;

// Green
$color-secondary-active: #4b9200;

$color-orange-gradient: #fed290;
$color-pink-gradient: #febdab;
$color-yellow: #ffee2e;
$color-black: #000;
$color-white: #fff;

$color-primary: $color-primary-700;

// === / VARIABLES ===

// === COMMON ===
* {
  box-sizing: border-box;
}

body {
  @include roboto;

  line-height: 1.4;
  color: $color-primary-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  line-height: 1.2;
}

h2 {
  font-size: $fs-xl;

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fs-md;
  }
}

h3 {
  font-size: $fs-lg;
  line-height: 1.3;

  @media (max-width: $breakpoint-xs-max) {
    font-size: $fs-md;
  }
}

a {
  text-decoration: none;
}

strong {
  font-weight: $fw-medium;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: $fs-md;
  line-height: 1.2;

  @media (max) {
  }
}

.text {
  font-size: $fs-sm;
  font-weight: $fw-regular;
}

.button-text {
  font-size: $fs-sm;
  font-weight: $fw-medium;
}

.small-paragraph {
  font-size: $fs-xs;
  font-weight: $fw-light;
  line-height: 1.2;
}

.ta-c {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-spacing-closer {
  letter-spacing: -0.2px;
}
/* .section-outer {
}
 */

.section-inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: $padding-vertical-md $base * 7 $padding-vertical-sm $base *
    7;
  padding-top: $padding-vertical-xl;
  padding-bottom: $padding-vertical-md;

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $breakpoint-md-max) {
    padding-left: $base * 5;
    padding-right: $base * 5;
  }

  @media (max-width: $breakpoint-xs-max) {
    padding-left: $base * 3;
    padding-right: $base * 3;
  }
}

.btn {
  @include button-text();

  position: relative;
  box-sizing: border-box;
  min-width: $base * 75;
  padding: $base * 4 0;
  background: linear-gradient(
    113.96deg,
    $color-primary-active-500 1.49%,
    $color-primary-active-300 101.44%
  );

  border: 1px solid transparent;
  outline: transparent;
  border-radius: $base * 8;
  color: $color-white;
  cursor: pointer;

  &--square {
    border-radius: $base;
  }

  &--secondary {
    color: $color-secondary-active;
    background: $color-white;
    border: 1px solid $color-secondary-active;

    &--danger {
      color: $color-danger;
      border: 1px solid $color-danger;
    }
  }

  &--size-sm {
    min-width: $base * 32;
  }

  &--size-mid {
    min-width: $base * 60;
  }

  &:hover {
    background: $color-primary-active-700;
  }

  &:active {
    background: $color-secondary-active;
  }

  &[disabled] {
    background: $color-primary-500;
    cursor: default;
    pointer-events: none;
  }

  &--submit {
    margin-left: $base * 3;
    padding: $base * 3;
    font-weight: $fw-regular;
    text-transform: none;
    border: 1px solid $color-primary-500;
    color: $color-black;

    &:hover,
    &:active {
      border: 1px solid $color-secondary-active;
      background-color: $color-white;
      color: $color-secondary-active;
    }
  }
}

.input {
  box-sizing: border-box;
  padding: $base * 3;
  background-color: inherit;
  border-radius: $base;
  outline: transparent;

  &--number {
    border: 1px solid $color-primary-500;
    border-radius: calc($base/2);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  border: 0;
}

// === / COMMON ===

// === HEADER ===
.section-header {
  position: relative;
  z-index: 1;
  background-color: $color-black;
  color: $color-white;

  @media (max-width: $breakpoint-sm-max) {
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .section-inner {
    padding-top: $base * 4;
    padding-bottom: $base * 4;

    @media (max-width: $breakpoint-md-max) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: $base * 20;
  min-width: $base * 20;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: calc($base/2);

  &__link {
    position: relative;
    display: inline-block;
    margin: $base 0;
    color: $color-white;

    @media (max-width: $breakpoint-sm-max) {
      margin: 0;
      line-height: 1.2;
      font-size: $fs-xs;
    }

    &::before {
      position: absolute;
      bottom: -0.5px;
      left: 12.5px;
      z-index: 2;
      content: url(./assets/icons/bamboo.svg);

      @media (max-width: $breakpoint-sm-max) {
        transform: scale(0.8);
      }
    }
  }

  .section-header & {
    @media (max-width: $breakpoint-md-max) {
      border: none;
    }
  }
}

.nav {
  margin-left: $base * 16;

  .section-header & {
    @media (max-width: $breakpoint-sm-max) {
      display: none;
    }
  }
}

.nav-wrapper {
  @include list-null();

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 14;
    }

    .section-header & + & {
      @media (max-width: $breakpoint-md-max) {
        margin-left: $base * 10;
      }
    }

    &:last-child {
      margin-right: $base * 14;
    }

    &-link {
      font-size: $fs-sm;
      font-weight: $fw-medium;
      color: $color-white;
      white-space: nowrap;
      text-decoration: none;
      transition: color $transition ease-in-out;

      &:hover {
        color: $color-primary-active-500;
      }

      /*       &--active {
        color: $color-primary-active-500;
      } */
    }
  }
}

.btn-burger {
  display: none;
  margin-left: auto;
  background-color: transparent;
  border: 1px solid transparent;
  outline: transparent;
  cursor: pointer;

  &__line {
    display: block;
    height: calc($base/2);
    width: $base * 5;
    background-color: $color-white;
    border-radius: 1px;

    & + & {
      margin-top: calc($base/2);
    }
  }

  .section-header & {
    @media (max-width: $breakpoint-sm-max) {
      display: block;
    }
  }
}
///---------------------------------------------------------to delete
.active {
  color: $color-primary-active-500;
  pointer-events: none;
}

.credentials {
  margin-left: auto;

  &__item {
    padding-left: $base * 15;

    &-link {
      font-size: $fs-sm;
      font-weight: $fw-medium;
      color: $color-white;
      white-space: nowrap;
      text-decoration: none;
      transition: $transition;

      &:hover {
        color: $color-primary-active-500;
      }

      &--active {
        color: $color-primary-active-500;
      }
    }
  }

  .section-header & {
    @media (max-width: $breakpoint-sm-max) {
      display: none;
    }
  }
}
// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background: url(./assets/images/GiantPanda.jpg) no-repeat 50% 100%;
  background-size: cover;

  @media (max-width: $breakpoint-sm-max) {
    padding-top: $base * 9.5;
  }

  .section-inner {
    padding-top: $base * 20;
    padding-bottom: $padding-vertical-md;

    @media (max-width: $breakpoint-lg-max) {
      padding-top: $base * 10;
      padding-bottom: $base * 12;
    }

    @media (max-width: $breakpoint-md-max) {
      padding-top: $base * 12;
      padding-bottom: $base * 10;
    }

    @media (max-width: $breakpoint-sm-max) {
      padding-top: $base * 11;
    }
  }
  .hero-heading-wrapper {
    position: relative;
    width: $base * 130;
    margin-left: auto;

    @media (max-width: $breakpoint-md-max) {
      width: $base * 65;
    }

    @media (max-width: $breakpoint-xs-max) {
      width: $base * 32;
    }

    &::after {
      position: absolute;
      width: $base * 116;
      height: $base * 116;
      bottom: $base * 8;
      left: 34%;
      border-radius: 50%;
      transform: translateX((-50%));
      background: linear-gradient(
        113.96deg,
        $color-primary-active-500 1.49%,
        $color-primary-active-300 101.44%
      );
      content: "";

      @media (max-width: $breakpoint-lg-max) {
        width: $base * 90;
        height: $base * 90;
        bottom: $base * 2;
        left: 37%;
      }

      @media (max-width: $breakpoint-md-max) {
        width: $base * 60;
        height: $base * 60;
        bottom: $base * 2;
        left: 31%;
      }

      @media (max-width: $breakpoint-xs-max) {
        width: $base * 30;
        height: $base * 30;
        bottom: $base;
        left: 33%;
      }
    }

    .hero-heading {
      position: relative;
      z-index: 1;
      color: $color-white;
      line-height: 0.75;
      font-size: $fs-xxl;
      font-weight: $fw-bold;
      text-transform: uppercase;

      @media (max-width: $breakpoint-lg-max) {
        font-size: 85px;
      }

      @media (max-width: $breakpoint-md-max) {
        font-size: 55px;
      }

      @media (max-width: $breakpoint-xs-max) {
        font-size: 28px;
      }

      strong {
        color: $color-yellow;
      }
    }
  }

  .hero-button-wrapper {
    display: flex;
    justify-content: center;
    width: $base * 130;
    margin-top: $base * 15;
    margin-left: auto;

    @media (max-width: $breakpoint-lg-max) {
      margin-top: $base * 10;
    }

    @media (max-width: $breakpoint-md-max) {
      justify-content: flex-start;
      width: 100%;
      margin-top: -$base * 2;
      margin-left: 0;
    }

    @media (max-width: $breakpoint-xs-max) {
      position: absolute;
      z-index: 1;
      justify-content: center;
      margin-top: 0;
      margin-left: 0;
      max-width: 100%;
      left: 0;
      transform: translateY(100%);
    }
  }
}

// === / HERO-IMAGE ===

// === BACKSTAGE ===
.section-backstage {
  position: relative;
  overflow: hidden;

  .section-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: $base * 10;

    @media (max-width: $breakpoint-md-max) {
      padding-top: $base * 15;
    }

    @media (max-width: $breakpoint-sm-max) {
      padding-top: $padding-vertical-md;
    }
  }

  &__img-wrapper {
    flex: 1 4 $base * 150;
    height: inherit;
    background: url(./assets/images/bamboo-cap.jpg) no-repeat 50% 50%;

    @media (max-width: $breakpoint-md-max) {
      display: none;
    }
  }

  &__content {
    flex: 4 1 $base * 130;
    padding-left: 2vw;

    @media (max-width: $breakpoint-md-max) {
      padding-left: 0;
      padding-right: $base * 26;
    }

    @media (max-width: $breakpoint-sm-max) {
      padding-right: $base * 18;
    }

    @media (max-width: 639px) {
      padding-right: $base * 15;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding-right: $base * 8;
    }

    @media (max-width: 390px) {
      padding-right: $base * 2;
    }
  }

  .aside-image {
    position: absolute;
    top: 0;
    right: 10vw;
    transform: translateX((100%));

    @media (max-width: $breakpoint-xl-max) {
      display: none;
    }

    @media (max-width: $breakpoint-md-max) {
      display: block;
      transform: translateX(100%);
      top: 5%;
      right: 14vw;

      img {
        width: 65%;
        height: 65%;
      }
    }

    @media (max-width: $breakpoint-xs-max) {
      display: block;
      transform: translateX(100%);
      top: 10%;
      right: 9vw;

      img {
        width: 40%;
        height: 40%;
      }
    }
  }

  h2 {
    margin-bottom: $base * 5;

    @media (max-width: $breakpoint-xs-max) {
      margin-bottom: $base * 2;
    }
  }

  .subtitle {
    margin: $base * 17 0 $base * 8;

    @media (max-width: $breakpoint-lg-max) {
      margin-top: $base * 10;
    }

    @media (max-width: $breakpoint-md-max) {
      margin-top: $base * 8;
      margin-bottom: $base * 5;
    }

    @media (max-width: $breakpoint-xs-max) {
      margin-top: $base * 5;
      margin-bottom: $base * 2;
    }
  }
}
// === / BACKSTAGE ===

// === FAVORITE ===
.section-favorite {
  position: relative;
  // overflow: hidden;

  .section-inner {
    @media (max-width: $breakpoint-xl-max) {
      padding-top: $padding-vertical-md;
      padding-bottom: $padding-vertical-xl;
    }

    @media (max-width: $breakpoint-md-max) {
      padding-top: $base * 10;
      padding-bottom: $padding-vertical-xl;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding-top: 0;
      padding-bottom: $base * 18;
    }
  }

  .slider-wrapper {
    position: relative;
    margin-bottom: $base * 20;

    @media (max-width: $breakpoint-md-max) {
      padding-left: $base * 8;
      padding-right: $base * 8;
    }

    @media (max-width: $breakpoint-sm-max) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $breakpoint-xs-max) {
      margin-bottom: $base * 16;
    }
  }

  .slider-favorite {
    @include list-null();

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($base * 70, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;
    justify-items: center;

    @media (max-width: $breakpoint-xl-max) {
      row-gap: $base * 20;
      column-gap: 3%;
    }

    @media (max-width: $breakpoint-md-max) {
      grid-template-columns: repeat(
        auto-fill,
        minmax($base * 70, 1fr)
      );
      grid-template-rows: 1fr 1fr;
      column-gap: 4%;

      & > li:nth-last-child(-n + 2) {
        display: none;
      }
    }

    @media (max-width: $breakpoint-sm-max) {
      column-gap: 2%;
    }

    @media (max-width: 639px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: $base * 2;
      padding-right: $base * 2;
      row-gap: $base * 4;
    }

    &__item {
      position: relative;
      cursor: pointer;

      &:hover {
        background: $color-primary-700;
        border-radius: $base;
        z-index: 2;
        transform: scale(1.04);
        transition: all 0.2s ease-out;

        & > div {
          display: flex;
          z-index: 3;
        }

        & > img {
          opacity: 0.5;
        }
      }

      img {
        max-width: 100%;
        border: 1px solid $color-primary-active-500;
        border-radius: $base;

        &:hover {
          border-radius: $base;
        }
      }

      &__meta {
        display: none;
        position: absolute;
        bottom: -15%;
        width: 100%;
        padding: $base $base * 4 $base * 4;
        background-color: $color-white;
        border-radius: 0 0 $base $base;
        border: 1px solid $color-primary-active-500;
        border-top: transparent;
        transition: 0.2s ease;
        z-index: 2;

        .meta-wrapper {
          padding-top: $base;
        }

        &-name {
          @include button-text();
        }

        svg {
          position: absolute;
          top: $base * 3;
          right: $base * 3;
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .btn-favorite {
    position: absolute;
    display: block;
    width: $base * 15;
    height: $base * 15;
    top: 50%;
    border-radius: 100%;
    background: url(./assets/icons/arrow_elips_2.svg) no-repeat 50%
      50%;

    &--prev {
      right: 100%;
      margin-right: $base * 5;
      transform: translateY(-50%);
    }

    &--next {
      left: 100%;
      margin-left: $base * 5;
      transform: translateY(-50%) rotate(180deg);
    }

    &:active {
      background: url(./assets/icons/arrow-green.svg) no-repeat 50%
        50%;
    }

    @media (max-width: $breakpoint-xl-max) {
      &--prev {
        right: unset;
        left: 34%;
      }

      &--next {
        left: unset;
        right: 34%;
      }
    }

    @media (max-width: 639px) {
      display: none;
    }
  }

  .aside-image {
    position: absolute;
    bottom: 0;
    z-index: -1;
    img {
      vertical-align: bottom;
    }

    &--left {
      left: 14vw;
      transform: translateX(-100%);

      @media (max-width: $breakpoint-xl-max) {
        text-align: end;
        left: 20vw;

        img {
          width: 60%;
        }
      }
    }

    &--right {
      right: 0;

      @media (max-width: 1600px) {
        bottom: -3%;
      }

      @media (max-width: $breakpoint-xl-max) {
        text-align: end;
        right: 0;
        bottom: 0;

        img {
          width: 80%;
          height: 80%;
        }
      }

      @media (max-width: $breakpoint-md-max) {
        img {
          width: 60%;
        }
      }

      @media (max-width: $breakpoint-xs-max) {
        img {
          width: 30%;
        }
      }
    }
  }
}
// === / FAVORITE ===

// === PICK-A-FRIEND ===
.section-pick-a-friend {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  /*  opacity: 0.9; */

  .section-inner {
    padding-top: $base * 17;

    @media (max-width: $breakpoint-lg-max) {
      padding-top: $base * 8;
      padding-bottom: $base * 12;
    }

    @media (max-width: $breakpoint-md-max) {
      padding: $base * 5 0 $base * 5 0;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding: $base * 5 $base * 2.5 $base * 5 $base * 2.5;
    }

    .section-inner-wrapper {
      padding: $base * 8 $base * 12 $base * 15 $base * 25;
      background: rgba(253, 253, 255, 0.5);
      border-radius: $base * 5;

      @media (max-width: $breakpoint-lg-max) {
        padding: $base * 8 $base * 12 $base * 15 $base * 10;
      }

      @media (max-width: $breakpoint-md-max) {
        padding: $base * 3 $base * 5 $base * 15 $base * 5;
      }

      @media (max-width: $breakpoint-xs-max) {
        padding: $base * 5 $base * 2.5 $base * 10 $base * 2.5;
      }
    }

    h2 {
      color: $color-primary-active-300;
      margin-bottom: $base * 8;

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: $base * 5;
      }
    }

    h3 {
      margin-top: $base * 15;

      @media (max-width: $breakpoint-lg-max) {
        margin-top: $base * 10;
      }

      @media (max-width: $breakpoint-md-max) {
        margin-top: $base * 7;
      }

      @media (max-width: $breakpoint-xs-max) {
        margin-top: $base * 5;
      }
    }

    .subtitle {
      margin-bottom: $base * 10;

      @media (max-width: $breakpoint-md-max) {
        margin-bottom: $base * 5;
      }

      @media (max-width: $breakpoint-xs-max) {
        text-align: center;
        font-size: 18px;
      }
    }

    .text {
      margin-bottom: $base * 3;

      a {
        color: $color-primary;
        text-decoration: underline;
        text-decoration-color: $color-primary-active-300;

        &:visited {
          color: $color-primary;
        }
      }

      @media (max-width: $breakpoint-xs-max) {
        display: none;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: $base * 15;

    @media (max-width: $breakpoint-md-max) {
      margin-top: $base * 10;
    }

    @media (max-width: $breakpoint-xs-max) {
      margin-top: $base * 3;
    }

    a {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.list-wrapper {
  display: flex;
  justify-content: center;
  margin-top: $base * 10;

  @media (max-width: $breakpoint-md-max) {
    margin-top: $base * 5;
  }
}

.how-it-works-list {
  @include list-null();
  ///////////////////////////////////////!!!!!!!!! px
  @media (max-width: 639px) {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    width: $base * 42;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 639px) {
      margin-bottom: $base * 7;

      &:first-child {
        margin-bottom: $base * 12;
      }
    }

    &:not(:first-child) {
      margin-left: $base * 32;

      @media (max-width: $breakpoint-md-max) {
        margin-left: $base * 10;
      }

      @media (max-width: 639px) {
        margin-left: 0;
      }
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 28%;
      left: -40%;
      transform: translateX(-50%);
      content: url(./assets/icons/arrow.svg);

      @media (max-width: $breakpoint-md-max) {
        content: url(./assets/icons/icon-arrow-accent.svg);
        top: 0;
        left: 0;
        transform: translate(-75%, -50%);
      }

      @media (max-width: 639px) {
        /*  content: url(./assets/icons/icon-arrow-accent.svg); */
        top: -25%;
        left: 100%;
        transform: translate(-35%, 0) rotate(85deg);
      }
    }

    &-icon {
      background-color: $color-white;
      height: $base * 42;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary-active-500;
      border-radius: $base;
    }

    &-text {
      margin-top: $base * 7;

      @media (max-width: 639px) {
        margin-top: $base * 2;
      }
    }
  }
}
// === / PICK-A-FRIEND ===

// === TESTIMONIALS ===
.section-testimonials {
  position: relative;

  .section-inner {
    padding-bottom: $padding-vertical-xxl;

    @media (max-width: $breakpoint-lg-max) {
      padding-top: $padding-vertical-md;
      padding-bottom: $padding-vertical-xl;
    }

    @media (max-width: $breakpoint-md-max) {
      padding-top: $padding-vertical-sm;
      padding-bottom: $base * 20;
    }

    @media (max-width: $breakpoint-xs-max) {
      padding-top: $base * 8;
      padding-bottom: $padding-vertical-sm;
    }
  }

  .testimonials-list {
    @include list-null();

    display: flex;
    justify-content: space-between;
    margin-top: $base * 12;

    @media (max-width: $breakpoint-lg-max) {
      justify-content: space-evenly;
    }

    @media (max-width: $breakpoint-md-max) {
      flex-direction: column;
      margin-top: $base * 7;
      margin-bottom: $base * 10;
    }

    @media (max-width: $breakpoint-xs-max) {
      margin-top: $base * 5;
      margin-bottom: $base * 7;
    }

    .testimonials-item-wrapper {
      border: 2px solid transparent;
      border-radius: $base * 5;
      background: linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        ),
        linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        );

      @media (max-width: $breakpoint-lg-max) {
        &:last-child {
          display: none;
        }
      }

      @media (max-width: $breakpoint-md-max) {
        & > div {
          width: 100%;
        }
        & + .testimonials-item-wrapper {
          margin-top: $base * 4;
        }
      }
    }

    &__item {
      width: $base * 70;
      padding: $base * 4;
      background-color: $color-primary-100;
      border-radius: $base * 4.8;

      @media (max-width: $breakpoint-xs-max) {
        min-width: $base * 68;
        padding: $base * 3;
      }

      &-heading {
        display: flex;
        margin-bottom: $base * 3;

        img {
          object-fit: contain;
        }

        &__meta {
          margin-left: $base * 3;
        }
      }

      &-text {
        // TODO! -----------------------------------------------------------------------fix using JS
        @media (max-width: $breakpoint-md-max) {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          display: -webkit-box;
          line-clamp: 2;
          box-orient: vertical;
          -moz-box-orient: vertical;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .slider-wrapper {
    display: flex;

    @media (max-width: $breakpoint-md-max) {
      display: none;
    }
  }

  .slider {
    margin: $base * 5 auto $base * 8;
    -webkit-appearance: none;
    // -moz-appearance: none;
    outline: none;
    height: $base * 2;
    width: $base * 150;
    background-color: $color-primary-50;
    border: 1px solid $color-primary-active-300;
    border-radius: $base;

    @media (max-width: $breakpoint-lg-max) {
      margin-bottom: $base * 17;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $base * 1.2;
    width: $base * 30;
    border-radius: $base;
    background-color: $color-primary-active-300;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    height: $base * 1.2;
    width: $base * 30;
    border-radius: $base;
    border: none;
    background-color: $color-primary-active-300;
    cursor: pointer;
  }

  .slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: $color-primary-50;
  }

  .slider::-webkit-slider-thumb:hover {
    box-shadow: lighten($color-primary-active-300, 30%) 0px 0px 0px
      $base * 2;
  }

  .slider::-moz-range-thumb:hover {
    box-shadow: lighten($color-primary-active-300, 30%) 0px 0px 0px
      $base * 2;
  }

  .aside-image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    transform: translateY(20%);

    &--right {
      position: absolute;
      right: 0;
      bottom: 0;

      @media (max-width: $breakpoint-lg-max) {
        text-align: right;
        vertical-align: bottom;

        img {
          width: 80%;
          height: 80%;
        }
      }

      @media (max-width: $breakpoint-md-max) {
        transform: translateY(25%);

        img {
          width: 50%;
          height: 50%;
        }
      }

      @media (max-width: $breakpoint-xs-max) {
        transform: translateY(25%);

        img {
          width: 40%;
          height: 40%;
        }
      }

      @media (max-width: 400px) {
        transform: translate(0, 35%);

        img {
          width: 30%;
          height: 30%;
        }
      }
    }
  }
}
// === / TESTIMONIALS ===

// === FOOTER ===
.section-footer {
  background-color: $color-black;
  color: $color-white;

  .section-inner {
    position: relative;
    z-index: 1;
    padding-top: $base * 10;
    padding-bottom: $base * 12;

    @media (max-width: $breakpoint-sm-max) {
      padding-top: $base * 4;
      padding-bottom: $base * 3;
    }
  }

  &__forms {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-xs-max) {
      justify-content: center;
    }

    &__left {
      display: flex;
      flex-direction: column;

      @media (max-width: $breakpoint-xs-max) {
        align-items: center;
      }

      .logo {
        margin-bottom: $base * 17;

        @media (max-width: $breakpoint-xs-max) {
          margin-bottom: $base * 8;
        }

        @media (max-width: $breakpoint-xs-max) {
          text-align: center;
          border: none;
          width: $base * 40;
          max-width: $base * 40;
          margin-bottom: $base * 20;

          &__link::before {
            top: -20%;
            left: 55%;
          }
        }

        @media (max-width: $breakpoint-xs-max) {
          & > * {
            font-size: 18px;
          }
        }
      }

      .btn {
        width: $base * 75;
        display: block;
        text-align: center;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      @media (max-width: $breakpoint-sm-max) {
        display: none;
      }
    }

    .form-subscription {
      margin-top: $base * 4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      $parent: &;

      &__input {
        border: 1px solid $color-primary-active-300;
        font-size: $fs-sm;
        font-weight: $fw-regular;
        line-height: 1.4;
        color: $color-white;

        &:invalid:not(:focus):not(:placeholder-shown) {
          border: 1px solid red;
        }

        &:placeholder-shown + input:hover,
        &:invalid:focus + input:hover,
        &:invalid:not(:focus):not(:placeholder-shown) + input,
        &:invalid:not(:focus):not(:placeholder-shown) + input:hover,
        #{$parent}:invalid {
          border: 1px solid $color-danger;
          color: $color-danger;
          cursor: default;
        }
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: $base * 11;

    @media (max-width: $breakpoint-sm-max) {
      margin-top: $base * 14;
    }

    @media (max-width: $breakpoint-xs-max) {
      flex-direction: column-reverse;
      margin-top: $base * 8;
    }

    .nav,
    .credentials {
      padding-bottom: $base * 2;
    }

    .nav {
      & * {
        font-weight: $fw-regular;
      }

      @media (max-width: $breakpoint-md-max) {
        margin-left: 0;
        width: $base * 75;

        .nav-wrapper {
          justify-content: space-between;

          & > * {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      @media (max-width: $breakpoint-xs-max) {
        margin-left: 0;
        width: $base * 70;
      }

      @media (max-width: $breakpoint-xs-max) {
        align-self: center;
        width: 100%;
        margin-top: $base * 6;

        .nav-wrapper {
          justify-content: space-around;
        }
      }

      @media (max-width: 440px) {
        .nav-wrapper {
          justify-content: space-between;
        }
      }
    }

    .active {
      color: $color-primary-active-500;
    }

    .credentials {
      margin-left: 0;
      font-weight: $fw-light;

      @media (max-width: $breakpoint-sm-max) {
        margin-left: auto;
      }

      & a {
        :not(:first-child) {
          margin-top: $base * 2;
        }

        font-weight: $fw-light;
        text-align: right;
        color: $color-primary-300;

        &:hover {
          color: $color-secondary-active;
          text-decoration: underline;
        }
      }
    }

    .socials-wrapper {
      @include list-null();

      display: flex;
      flex-direction: column;

      @media (max-width: $breakpoint-sm-max) {
        position: absolute;
        top: 0;
        right: $base * 6;
      }

      @media (max-width: $breakpoint-xs-max) {
        flex-direction: row;
        justify-content: space-around;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (max-width: $breakpoint-xs-max) {
        width: 60%;
      }

      &__item {
        &-link {
          display: inline-flex;
          margin-top: $base * 2;
          color: $color-white;

          @media (max-width: $breakpoint-md-max) {
            margin-top: $base * 3;
          }

          &:hover {
            color: $color-secondary-active;
          }

          &:hover circle {
            fill: $color-secondary-active;
          }

          &-title {
            margin: auto 0 auto $base * 3;

            @media (max-width: $breakpoint-sm-max) {
              display: none;
            }
          }
        }
      }
    }
  }
}
// === / FOOTER ===
