@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333b41;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.subtitle {
  font-size: 24px;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.small-paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
}

.ta-c {
  text-align: center;
}

/* .section-outer {
}
 */
.section-inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 100px 28px 60px 28px;
  padding-top: 140px;
  padding-bottom: 100px;
}
.section-inner--wide {
  max-width: 1600px;
}

.btn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  position: relative;
  box-sizing: border-box;
  min-width: 300px;
  padding: 16px 0;
  background: linear-gradient(#f9804b, #fe9013);
  border: 1px solid transparent;
  outline: transparent;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
}
.btn--square {
  border-radius: 4px;
}
.btn--secondary {
  color: #4b9200;
  background: #fff;
  border: 1px solid #4b9200;
}
.btn--secondary--danger {
  color: #d31414;
  border: 1px solid #d31414;
}
.btn--size-sm {
  min-width: 128px;
}
.btn:hover {
  background: #e47209;
}
.btn:active {
  background: #4b9200;
}
.btn[disabled] {
  background: #767474;
  cursor: default;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  border: 0;
}

.background-darken {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  z-index: 1;
  background: #333b41;
  opacity: 0.5;
}

.section-header {
  background-color: #000;
  color: #fff;
}
.section-header .section-inner {
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: 80px;
  min-width: 80px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
}
.logo__link {
  position: relative;
  display: inline-block;
  margin: 4px 0;
  color: #fff;
}
.logo__link::before {
  position: absolute;
  bottom: -0.5px;
  left: 12.5px;
  z-index: 1;
  content: url(./assets/icons/bamboo.svg);
}

.nav {
  margin-left: 64px;
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 56px;
}
.nav-wrapper__item:last-child {
  margin-right: 56px;
}
.nav-wrapper__item-link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.2s;
  /*       &--active {
    color: $color-primary-active-500;
  } */
}
.nav-wrapper__item-link:hover {
  color: #f9804b;
}

.active {
  color: #f9804b;
}

.credentials {
  margin-left: auto;
}
.credentials__item {
  padding-left: 60px;
}
.credentials__item-link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.2s;
}
.credentials__item-link:hover {
  color: #f9804b;
}
.credentials__item-link--active {
  color: #f9804b;
}

.section-hero-image {
  position: relative;
  background: url(./assets/images/GiantPanda.jpg) no-repeat 50% 100%;
  background-size: cover;
}
.section-hero-image .section-inner {
  padding-top: 80px;
  padding-bottom: 100px;
}

.hero-heading-wrapper {
  position: relative;
  width: 520px;
  margin-left: auto;
}
.hero-heading-wrapper::after {
  position: absolute;
  width: 464px;
  height: 464px;
  bottom: 32px;
  left: 34%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #f9804b;
  content: "";
}
.hero-heading-wrapper .hero-heading {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 0.75;
  font-size: 114px;
  font-weight: 700;
  text-transform: uppercase;
}
.hero-heading-wrapper .hero-heading span {
  color: #ffee2e;
}

.hero-button-wrapper {
  display: flex;
  justify-content: center;
  width: 520px;
  margin-top: 60px;
  margin-left: auto;
}

.section-backstage {
  position: relative;
  overflow: hidden;
}
.section-backstage .section-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.section-backstage__img-wrapper {
  flex: 1 4 600px;
  height: inherit;
  background: url(./assets/images/bamboo-cap.jpg) no-repeat 50% 50%;
}
.section-backstage__content {
  flex: 4 1 520px;
  padding-left: 2vw;
  /*     &::after { ! ---------------------------- ! TODO: fix palm leaf & other position
    display: inline-block;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    content: url(./assets/images/flower_foto1.png);
  } */
}
.section-backstage .aside-image {
  position: absolute;
  top: 0;
  right: 0;
  /*     left: 100%; */
  transform: translateX(50%);
}
.section-backstage h2 {
  margin-bottom: 20px;
}
.section-backstage .subtitle {
  margin: 68px 0 32px;
}

.section-favorite {
  position: relative;
  /*  .section-inner {
   }
  */
}
.section-favorite .slider-wrapper {
  position: relative;
}
.section-favorite .slider-favorite {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1%;
}
.section-favorite .slider-favorite__item {
  position: relative;
  cursor: pointer;
}
.section-favorite .slider-favorite__item:hover {
  transform: scale(1.05);
  background: #333b41;
  border-radius: 4px;
  z-index: 2;
  transition: all 0.2s ease-out;
}
.section-favorite .slider-favorite__item:hover > div {
  display: flex;
}
.section-favorite .slider-favorite__item:hover > img {
  opacity: 0.5;
}
.section-favorite .slider-favorite__item img {
  /*    width: $base * 90; */
  height: 360px;
  border: 1px solid #f9804b;
  border-radius: 4px;
}
.section-favorite .slider-favorite__item__meta {
  display: none;
  position: absolute;
  bottom: -15%;
  width: 360px;
  padding: 4px 16px 16px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #f9804b;
  border-top: transparent;
  transition: 0.2s ease;
  z-index: 2;
  /*      &-subtitle {
         }
  */
}
.section-favorite .slider-favorite__item__meta .meta-wrapper {
  padding-top: 4px;
}
.section-favorite .slider-favorite__item__meta-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.section-favorite .slider-favorite__item__meta svg {
  position: absolute;
  top: 12px;
  right: 12px;
}
.section-favorite .btn-favorite {
  position: absolute;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  background: url(./assets/icons/arrow_elips_2.svg) no-repeat 50% 50%;
  border-radius: 100%;
}
.section-favorite .btn-favorite--prev {
  right: 100%;
  margin-right: 20px;
  transform: translateY(-50%);
}
.section-favorite .btn-favorite--next {
  left: 100%;
  margin-left: 20px;
  transform: translateY(-50%) rotate(180deg);
}
.section-favorite .btn-favorite:active {
  background: url(./assets/icons/arrow-green.svg) no-repeat 50% 50%;
}
.section-favorite .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.section-favorite .aside-image {
  position: absolute;
  bottom: 0;
}
.section-favorite .aside-image--left {
  left: -3%;
}
.section-favorite .aside-image--right {
  right: 0;
}

.section-pick-a-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  opacity: 0.9;
}
.section-pick-a-friend .section-inner {
  padding-top: 68px;
}
.section-pick-a-friend .section-inner .section-inner-wrapper {
  padding: 32px 3vw 60px 4vw;
  background: rgba(253, 253, 255, 0.5);
  border-radius: 20px;
}
.section-pick-a-friend .section-inner h2 {
  color: #fe9013;
  margin-bottom: 32px;
}
.section-pick-a-friend .section-inner h3 {
  margin-top: 60px;
}
.section-pick-a-friend .section-inner .subtitle {
  margin-bottom: 40px;
}
.section-pick-a-friend .section-inner .text {
  margin-bottom: 12px;
}
.section-pick-a-friend .section-inner .text a {
  color: #333b41;
  text-decoration: underline;
  text-decoration-color: #fe9013;
}
.section-pick-a-friend .section-inner .text a:visited {
  color: #333b41;
}
.section-pick-a-friend .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.section-pick-a-friend .btn-wrapper a {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.how-it-works-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 1520px;
}
.how-it-works-list__item {
  position: relative;
  width: 168px;
  display: inline-block;
  vertical-align: top;
}
.how-it-works-list__item:not(:first-child) {
  margin-left: 128px;
}
.how-it-works-list__item:not(:first-child)::before {
  position: absolute;
  top: 28%;
  left: -40%;
  transform: translateX(-50%);
  content: url(./assets/icons/arrow.svg);
}
.how-it-works-list__item-icon {
  background-color: #fff;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f9804b;
  border-radius: 4px;
}
.how-it-works-list__item-text {
  margin-top: 28px;
}

.section-testimonials {
  position: relative;
}
.section-testimonials .section-inner {
  padding-bottom: 180px;
}
.section-testimonials .testimonials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.section-testimonials .testimonials-list .testimonials-item-wrapper {
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}
.section-testimonials .testimonials-list__item {
  width: 268px;
  padding: 16px;
  background-color: #f1f3f2;
  border-radius: 19.2px;
}
.section-testimonials .testimonials-list__item-heading {
  display: flex;
  margin-bottom: 12px;
}
.section-testimonials .testimonials-list__item-heading img {
  object-fit: contain;
}
.section-testimonials .testimonials-list__item-heading__meta {
  margin-left: 12px;
  /*           &-name {
  }

  &-credentials {
  } */
}
.section-testimonials .slider-wrapper {
  display: flex;
}
.section-testimonials .slider {
  margin: 20px auto 32px;
  -webkit-appearance: none;
  outline: none;
  height: 8px;
  width: 600px;
  background-color: #fdfdff;
  border: 1px solid #fe9013;
  border-radius: 4px;
}
.section-testimonials .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4.8px;
  width: 120px;
  border-radius: 4px;
  background-color: #fe9013;
  cursor: pointer;
}
.section-testimonials .slider::-moz-range-thumb {
  height: 4.8px;
  width: 120px;
  border-radius: 4px;
  border: none;
  background-color: #fe9013;
  cursor: pointer;
}
.section-testimonials .slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: #fdfdff;
}
.section-testimonials .slider::-webkit-slider-thumb:hover {
  box-shadow: #ffd8ab 0px 0px 0px 6px;
}
.section-testimonials .slider::-moz-range-thumb:hover {
  box-shadow: #ffd8ab 0px 0px 0px 6px;
}
.section-testimonials .aside-image {
  position: absolute;
  bottom: 0;
  transform: translateY(20%);
}
.section-testimonials .aside-image--right {
  right: 0;
}

.section-footer {
  background-color: #000;
  color: #fff;
}
.section-footer .section-inner {
  padding-top: 40px;
  padding-bottom: 48px;
}
.section-footer__forms {
  display: flex;
  justify-content: space-between;
}
.section-footer__forms__left {
  display: flex;
  flex-direction: column;
}
.section-footer__forms__left .logo {
  margin-bottom: 68px;
}
.section-footer__forms__left .btn {
  width: 300px;
  display: block;
  text-align: center;
}
.section-footer__forms__right {
  display: flex;
  flex-direction: column;
}
.section-footer__forms .form-subscription {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*       input:invalid {
    border: 1px solid $color-danger;
  } */
  /*      input:empty + input {
    color: $color-secondary-active;
    border: 1px solid $color-secondary-active;
  } */
  /*       input:invalid + input {
         border: 1px solid $color-danger;
         color: $color-danger;
       }
  */
}
.section-footer__forms .form-subscription__input {
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #fe9013;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: inherit;
}
.section-footer__forms .form-subscription input:invalid + input {
  border: 1px solid #d31414;
  color: #d31414;
}
.section-footer__forms .form-subscription input:invalid + input:hover,
.section-footer__forms .form-subscription input:invalid + input:active {
  border: 1px solid #d31414;
  color: #d31414;
}
.section-footer__forms .form-subscription input:valid + input {
  color: #4b9200;
  border: 1px solid #4b9200;
}
.section-footer__forms .form-subscription input:valid + input:hover,
.section-footer__forms .form-subscription input:valid + input:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}
.section-footer__forms .form-subscription .btn--submit {
  margin-left: 12px;
  padding: 12px;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #f9804b;
  color: #000;
}
.section-footer__forms .form-subscription .btn--submit:hover,
.section-footer__forms .form-subscription .btn--submit:active {
  border: 1px solid #4b9200;
  background-color: #fff;
  color: #4b9200;
}
.section-footer__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 44px;
  /*    .socials {
  } */
}
.section-footer__links .nav,
.section-footer__links .credentials {
  padding-bottom: 8px;
}
.section-footer__links .active {
  color: #f9804b;
}
.section-footer__links .credentials {
  margin-left: 0;
  font-weight: 300;
}
.section-footer__links .credentials * {
  font-weight: 300;
  text-align: right;
  color: #ababab;
}
.section-footer__links .credentials * :not(:first-child) {
  margin-top: 8px;
}
.section-footer__links .socials-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.section-footer__links .socials-wrapper__item-link {
  display: inline-flex;
  margin-top: 8px;
  color: #fff;
}
.section-footer__links .socials-wrapper__item-link:hover {
  color: #fe9013;
}
.section-footer__links .socials-wrapper__item-link:hover path {
  fill: #fe9013;
}
.section-footer__links .socials-wrapper__item-link div {
  margin: auto 0 auto 12px;
}

/*# sourceMappingURL=styles.css.map */
