@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// === MIXIN ===
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-text {
  text-transform: uppercase;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  line-height: 1.4;
}
// === / MIXIN ===

// === VARIABLES ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: 15px;
$fs-sm: 16px;
$fs-md: 24px;
$fs-lg: 36px;
$fs-xl: 48px;
$fs-xxl: 114px;

$padding-vertical-xxl: $base * 45;
$padding-vertical-xl: $base * 35;
$padding-vertical-md: $base * 25;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$transition: 0.2s;

// Gray
$color-primary-50: #fdfdff;
$color-primary-100: #f1f3f2;
$color-primary-200: #bdbdbd;
$color-primary-300: #ababab;
$color-primary-500: #767474;
$color-primary-700: #333b41;

// Red
$color-danger: #d31414;

// Orange
$color-primary-active-300: #fe9013;
$color-primary-active-500: #f9804b;
$color-primary-active-700: #e47209;

// Green
$color-secondary-active: #4b9200;

$color-orange-gradient: #fed290;
$color-pink-gradient: #febdab;
$color-yellow: #ffee2e;
$color-black: #000;
$color-white: #fff;

$color-primary: $color-primary-700;

// === / VARIABLES ===

// === COMMON ===
* {
  box-sizing: border-box;
}

body {
  @include roboto;

  color: $color-primary-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  line-height: 1.2;
}

h2 {
  font-size: $fs-xl;
}

h3 {
  font-size: $fs-lg;
  /*   font-weight: $fw-regular; */
  line-height: 1.3;
}

a {
  text-decoration: none;
}

strong {
  font-weight: $fw-medium;
}

.subtitle {
  font-size: $fs-md;
  line-height: 1.2;
}

.text {
  font-size: $fs-sm;
  font-weight: $fw-regular;
  line-height: 1.4;
}

.button-text {
  font-size: $fs-sm;
  font-weight: $fw-medium;
  line-height: 1.4;
}

.small-paragraph {
  font-size: $fs-xs;
  font-weight: $fw-light;
  line-height: 1.2;
}

.ta-c {
  text-align: center;
}

/* .section-outer {
}
 */
.section-inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: $padding-vertical-md $base * 7 $padding-vertical-sm $base *
    7;
  padding-top: $padding-vertical-xl;
  padding-bottom: $padding-vertical-md;

  &--wide {
    max-width: 1600px;
  }

  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn {
  @include button-text();

  position: relative;
  box-sizing: border-box;
  min-width: $base * 75;
  padding: $base * 4 0;
  background: linear-gradient(
    $color-primary-active-500,
    $color-primary-active-300
  );
  border: 1px solid transparent;
  outline: transparent;
  border-radius: $base * 6;
  color: $color-white;
  cursor: pointer;

  &--square {
    border-radius: $base;
  }

  &--secondary {
    color: $color-secondary-active;
    background: $color-white;
    border: 1px solid $color-secondary-active;

    &--danger {
      color: $color-danger;
      border: 1px solid $color-danger;
    }
  }

  &--size-sm {
    min-width: $base * 32;
  }

  &:hover {
    background: $color-primary-active-700;
  }

  &:active {
    background: $color-secondary-active;
  }

  &[disabled] {
    background: $color-primary-500;
    cursor: default;
    pointer-events: none;
  }

  &--submit {
    margin-left: $base * 3;
    padding: $base * 3;
    font-weight: $fw-regular;
    text-transform: none;
    border: 1px solid $color-primary-active-500;
    color: $color-black;

    &:hover,
    &:active {
      border: 1px solid $color-secondary-active;
      background-color: $color-white;
      color: $color-secondary-active;
    }
  }
}

.input {
  box-sizing: border-box;
  padding: $base * 3;
  background-color: inherit;
  border-radius: $base;
  outline: transparent;

  &--number {
    border: 1px solid $color-primary-500;
    border-radius: calc($base/2);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  border: 0;
}

.background-darken {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  z-index: 1;
  background: $color-primary-700;
  opacity: 0.5;
}
// === / COMMON ===

// === HEADER ===
.section-header {
  background-color: $color-black;
  color: $color-white;

  .section-inner {
    padding-top: $base * 4;
    padding-bottom: $base * 4;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: $base * 20;
  min-width: $base * 20;
  text-align: center;
  border: 1px solid $color-white;
  border-radius: calc($base/2);

  &__link {
    position: relative;
    display: inline-block;
    margin: $base 0;
    color: $color-white;

    &::before {
      position: absolute;
      bottom: -0.5px;
      left: 12.5px;
      z-index: 1;
      content: url(./assets/icons/bamboo.svg);
    }
  }
}

.nav {
  margin-left: $base * 16;
}

.nav-wrapper {
  @include list-null();

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 14;
    }

    &:last-child {
      margin-right: $base * 14;
    }

    &-link {
      font-size: $fs-sm;
      font-weight: $fw-medium;
      color: $color-white;
      white-space: nowrap;
      text-decoration: none;
      transition: color $transition ease-in-out;

      &:hover {
        color: $color-primary-active-500;
      }

      /*       &--active {
        color: $color-primary-active-500;
      } */
    }
  }
}
///---------------------------------------------------------to delete
.active {
  color: $color-primary-active-500;
}

.credentials {
  margin-left: auto;

  &__item {
    padding-left: $base * 15;

    &-link {
      font-size: $fs-sm;
      font-weight: $fw-medium;
      color: $color-white;
      white-space: nowrap;
      text-decoration: none;
      transition: $transition;

      &:hover {
        color: $color-primary-active-500;
      }

      &--active {
        color: $color-primary-active-500;
      }
    }
  }
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
  position: relative;
  background: url(./assets/images/GiantPanda.jpg) no-repeat 50% 100%;
  background-size: cover;

  .section-inner {
    padding-top: $base * 20;
    padding-bottom: $padding-vertical-md;
  }
}

.hero-heading-wrapper {
  position: relative;
  width: $base * 130;
  margin-left: auto;

  &::after {
    position: absolute;
    width: $base * 116;
    height: $base * 116;
    bottom: $base * 8;
    left: 34%;
    border-radius: 50%;
    transform: translateX((-50%));
    background-color: $color-primary-active-500;
    content: "";
  }

  .hero-heading {
    position: relative;
    z-index: 1;
    color: $color-white;
    line-height: 0.75;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    text-transform: uppercase;

    span {
      color: $color-yellow;
    }
  }
}

.hero-button-wrapper {
  display: flex;
  justify-content: center;
  width: $base * 130;
  margin-top: $base * 15;
  margin-left: auto;
}
// === / HERO-IMAGE ===

// === BACKSTAGE ===
.section-backstage {
  position: relative;
  overflow: hidden;

  .section-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: $base * 10;
  }

  &__img-wrapper {
    flex: 1 4 $base * 150;
    height: inherit;
    background: url(./assets/images/bamboo-cap.jpg) no-repeat 50% 50%;
  }

  &__content {
    flex: 4 1 $base * 130;
    padding-left: 2vw;

    /*     &::after { ! ---------------------------- ! TODO: fix palm leaf & other position
      display: inline-block;
      height: 50%;
      position: absolute;
      top: 0;
      right: 0;
      content: url(./assets/images/flower_foto1.png);
    } */
  }

  .aside-image {
    position: absolute;
    top: 0;
    right: 0;
    /*     left: 100%; */
    transform: translateX((50%));
    //z-index: 1;
  }

  h2 {
    margin-bottom: $base * 5;
  }

  .subtitle {
    margin: $base * 17 0 $base * 8;
  }
}

// === / BACKSTAGE ===

// === FAVORITE ===
.section-favorite {
  position: relative;

  .slider-wrapper {
    position: relative;
  }

  .slider-favorite {
    @include list-null();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    //=========================================== FIX overflow!
    &__item {
      position: relative;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        background: $color-primary-700;
        border-radius: $base;
        z-index: 2;
        transition: all 0.2s ease-out;

        & > div {
          display: flex;
          z-index: 3;
        }

        & > img {
          opacity: 0.5;
        }
      }

      img {
        height: $base * 90;
        border: 1px solid $color-primary-active-500;
        border-radius: $base;
      }

      &__meta {
        display: none;
        position: absolute;
        bottom: -15%;
        width: $base * 90;
        padding: $base $base * 4 $base * 4;
        background-color: $color-white;
        border-radius: 0 0 $base $base;
        border: 1px solid $color-primary-active-500;
        border-top: transparent;
        transition: 0.2s ease;
        z-index: 2;

        .meta-wrapper {
          padding-top: $base;
        }

        &-name {
          @include button-text();
        }

        /*      &-subtitle {
        }
 */
        svg {
          position: absolute;
          top: $base * 3;
          right: $base * 3;
        }
      }
    }
  }

  .btn-favorite {
    position: absolute;
    top: 50%;
    display: block;
    width: $base * 15;
    height: $base * 15;
    background: url(./assets/icons/arrow_elips_2.svg) no-repeat 50%
      50%;
    border-radius: 100%;

    &--prev {
      right: 100%;
      margin-right: $base * 5;
      transform: translateY(-50%);
    }

    &--next {
      left: 100%;
      margin-left: $base * 5;
      transform: translateY(-50%) rotate(180deg);
    }

    &:active {
      background: url(./assets/icons/arrow-green.svg) no-repeat 50%
        50%;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: $base * 20;
  }

  .aside-image {
    position: absolute;
    bottom: 0;

    &--left {
      left: -3%;
    }

    &--right {
      right: 0;
    }
  }
}
// === / FAVORITE ===

// === PICK-A-FRIEND ===
.section-pick-a-friend {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;

  .section-inner {
    padding-top: $base * 17;

    .section-inner-wrapper {
      padding: $base * 8 3vw $base * 15 4vw;
      background: rgba(253, 253, 255, 0.5);
      border-radius: $base * 5;
    }

    h2 {
      color: $color-primary-active-300;
      margin-bottom: $base * 8;
    }

    h3 {
      margin-top: $base * 15;
    }

    .subtitle {
      margin-bottom: $base * 10;
    }

    .text {
      margin-bottom: $base * 3;

      a {
        color: $color-primary;
        text-decoration: underline;
        text-decoration-color: $color-primary-active-300;

        &:visited {
          color: $color-primary;
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: $base * 15;

    a {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.list-wrapper {
  display: flex;
  justify-content: center;
  margin-top: $base * 10;
}

.how-it-works-list {
  @include list-null();

  max-width: $base * 380;

  &__item {
    position: relative;
    width: $base * 42;
    display: inline-block;
    vertical-align: top;

    &:not(:first-child) {
      margin-left: $base * 32;
    }

    &:not(:first-child)::before {
      position: absolute;
      top: 28%;
      left: -40%;
      transform: translateX(-50%);
      content: url(./assets/icons/arrow.svg);
    }

    &-icon {
      background-color: $color-white;
      height: $base * 42;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-primary-active-500;
      border-radius: $base;
    }

    &-text {
      margin-top: $base * 7;
    }
  }
}
// === / PICK-A-FRIEND ===

// === TESTIMONIALS ===
.section-testimonials {
  position: relative;

  .section-inner {
    padding-bottom: $padding-vertical-xxl;
  }

  .testimonials-list {
    @include list-null();

    display: flex;
    justify-content: space-between;
    margin-top: $base * 12;

    .testimonials-item-wrapper {
      border: 2px solid transparent;
      border-radius: $base * 5;
      background: linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        ),
        linear-gradient(
          315.75deg,
          rgba(254, 189, 171, 0.74) 30.06%,
          rgba(243, 169, 248, 0.66) 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        );
    }

    &__item {
      width: $base * 67;
      padding: $base * 4;
      background-color: $color-primary-100;
      border-radius: $base * 4.8;

      &-heading {
        display: flex;
        margin-bottom: $base * 3;

        img {
          object-fit: contain;
        }

        &__meta {
          margin-left: $base * 3;
          /*           &-name {
          }

          &-credentials {
          } */
        }
      }
    }
  }

  .slider-wrapper {
    display: flex;
  }

  .slider {
    margin: $base * 5 auto $base * 8;
    -webkit-appearance: none;
    // -moz-appearance: none;
    outline: none;
    height: $base * 2;
    width: $base * 150;
    background-color: $color-primary-50;
    border: 1px solid $color-primary-active-300;
    border-radius: $base;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $base * 1.2;
    width: $base * 30;
    border-radius: $base;
    background-color: $color-primary-active-300;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    height: $base * 1.2;
    width: $base * 30;
    border-radius: $base;
    border: none;
    background-color: $color-primary-active-300;
    cursor: pointer;
  }

  .slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: $color-primary-50;
  }

  .slider::-webkit-slider-thumb:hover {
    box-shadow: lighten($color-primary-active-300, 30%) 0px 0px 0px
      $base * 2;
  }

  .slider::-moz-range-thumb:hover {
    box-shadow: lighten($color-primary-active-300, 30%) 0px 0px 0px
      $base * 2;
  }

  .aside-image {
    position: absolute;
    bottom: 0;
    transform: translateY(20%);

    &--right {
      right: 0;
    }
  }
}

// === / TESTIMONIALS ===

// === FOOTER ===
.section-footer {
  background-color: $color-black;
  color: $color-white;

  .section-inner {
    padding-top: $base * 10;
    padding-bottom: $base * 12;
  }

  &__forms {
    display: flex;
    justify-content: space-between;

    &__left {
      display: flex;
      flex-direction: column;

      .logo {
        margin-bottom: $base * 17;
      }

      .btn {
        width: $base * 75;
        display: block;
        text-align: center;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
    }

    .form-subscription {
      margin-top: $base * 4;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__input {
        border: 1px solid $color-primary-active-300;
        border-radius: $base;
        font-size: $fs-sm;
        font-weight: $fw-regular;
        line-height: 1.4;
        color: $color-white;
      }

      /*       input:invalid {
        border: 1px solid $color-danger;
      } */

      input:invalid + input {
        border: 1px solid $color-danger;
        color: $color-danger;
      }

      /*      input:empty + input {
        color: $color-secondary-active;
        border: 1px solid $color-secondary-active;
      } */

      /*       input:invalid + input {
        border: 1px solid $color-danger;
        color: $color-danger;
      }
 */
      input:invalid + input:hover,
      input:invalid + input:active {
        border: 1px solid $color-danger;
        color: $color-danger;
        cursor: default;
      }
      /* 
      input:valid + input {
        color: $color-secondary-active;
        border: 1px solid $color-secondary-active;
      } */
      input:valid + input:hover,
      input:valid + input:active {
        color: $color-secondary-active;
        border: 1px solid $color-secondary-active;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: $base * 11;

    .nav,
    .credentials {
      padding-bottom: $base * 2;
    }
    .active {
      color: $color-primary-active-500;
    }

    .credentials {
      margin-left: 0;
      font-weight: $fw-light;

      & a {
        :not(:first-child) {
          margin-top: $base * 2;
        }

        font-weight: $fw-light;
        text-align: right;
        color: $color-primary-300;

        &:hover {
          color: $color-secondary-active;
          text-decoration: underline;
        }
      }
    }

    .socials-wrapper {
      @include list-null();

      display: flex;
      flex-direction: column;

      &__item {
        &-link {
          display: inline-flex;
          margin-top: $base * 2;
          color: $color-white;

          &:hover {
            color: $color-secondary-active;
          }

          &:hover path {
            fill: $color-secondary-active;
          }

          div {
            margin: auto 0 auto $base * 3;
          }
        }
      }
    }
  }
}
// === / FOOTER ===
