body {
  line-height: 1.4;
}

.section-hero-image {
  background-position: 50% 50%;
}
@media (max-width: 767px) {
  .section-hero-image {
    background-position: 30% 30%;
  }
}
.section-hero-image .section-inner {
  padding-top: 192px;
  padding-bottom: 192px;
}
@media (max-width: 767px) {
  .section-hero-image .section-inner {
    padding-top: 168px;
    padding-bottom: 168px;
  }
}
@media (max-width: 575px) {
  .section-hero-image .section-inner {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.section-pick-a-friend .section-inner {
  padding-top: 40px;
  padding-bottom: 180px;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner {
    padding-bottom: 32px;
  }
}
@media (max-width: 991px) {
  .section-pick-a-friend .section-inner {
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner {
    padding: 32px 8px 20px 8px;
  }
}
.section-pick-a-friend .section-inner .heading-starter {
  margin-top: 0;
  margin-bottom: 12px;
  color: #fff;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .heading-starter {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .heading-starter {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .heading-starter {
    margin-bottom: 20px;
  }
}
.section-pick-a-friend .section-inner .text-synopsis {
  color: #fff;
}
.section-pick-a-friend .section-inner .text-synopsis .accent {
  font-weight: 500;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .text-synopsis {
    display: block;
  }
}
.section-pick-a-friend .section-inner .heading-secondary {
  color: #fe9013;
  margin-top: 36px;
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .heading-secondary {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .heading-secondary {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.section-pick-a-friend .section-inner .subtitle {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .subtitle {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .subtitle {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 1.4;
  }
}
.section-pick-a-friend .section-inner .section-inner-wrapper {
  padding: 40px 80px 60px 80px;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .section-inner-wrapper {
    padding: 20px 48px 48px 48px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .section-inner-wrapper {
    padding: 24px 28px 24px 32px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .section-inner-wrapper {
    padding: 20px 2px 20px 2px;
  }
}
.section-pick-a-friend .section-inner .heading-primary {
  margin-bottom: 20px;
  font-size: 48px;
  color: #fe9013;
  /* @media (max-width: $breakpoint-xs-max) {
    font-size: $fs-lg;
  } */
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .heading-primary {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .heading-primary {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .heading-primary {
    margin-bottom: 8px;
    font-size: 24px;
  }
}
.section-pick-a-friend .section-inner .icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .icon-block {
    margin-bottom: 32px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .icon-block {
    margin-bottom: 0;
  }
}
.section-pick-a-friend .section-inner .icon-block__meta {
  position: relative;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .icon-block__meta {
    font-size: 10px;
    min-width: 100px;
  }
}
.section-pick-a-friend .section-inner .icon-block__meta::after {
  position: absolute;
  top: 0;
  right: -15%;
  font-size: 48px;
  color: #000;
  content: "x";
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .icon-block__meta::after {
    top: 10%;
    font-size: 16px;
  }
}
.section-pick-a-friend .section-inner .icon-block__meta-number {
  margin-bottom: 8px;
  font-size: 72px;
  font-weight: 500;
  color: #000;
  line-height: 0.8;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .icon-block__meta-number {
    font-size: 36px;
  }
}
.section-pick-a-friend .section-inner .icon-block .icon-wrapper {
  margin-left: 80px;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .icon-block .icon-wrapper {
    width: 152px;
    margin-left: 40px;
  }
  .section-pick-a-friend .section-inner .icon-block .icon-wrapper svg {
    width: 100%;
    height: 80%;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .donation {
    margin-left: -36px;
    margin-right: -36px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation {
    margin-left: 0;
    margin-right: 0;
  }
  .section-pick-a-friend .section-inner .donation fieldset {
    padding-left: 0;
    padding-right: 0;
  }
}
.section-pick-a-friend .section-inner .donation legend {
  margin-bottom: 8px;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation legend {
    margin-bottom: 0;
  }
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 26px;
  margin-bottom: 100px;
  background-color: #767474;
  border: 12px solid #404950;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount {
    justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount {
    padding: 0 8px;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount {
    height: 14px;
    border: 6px solid #404950;
    /*     border-left-width: ; */
    margin-bottom: 48px;
  }
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #ffee2e;
  transform: translateY(-40%);
  cursor: pointer;
}
@media (max-width: 1199px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio--5000 {
    display: none;
  }
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio--2000 {
    display: none;
  }
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio--1000 {
    display: none;
  }
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio {
    width: 6px;
    height: 6px;
  }
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio--active {
  color: #fe9013;
  border: 1px solid #fe9013;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio--active::before {
  border: 1px solid #fe9013;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  content: "";
  transform: translate(-35%, -35%);
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio input {
  display: none;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio .value {
  position: absolute;
  display: block;
  margin-bottom: 0;
  transform: translate(-40%, 100%);
  font-weight: 500;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-amount-radio .value {
    font-size: 12px;
  }
}
.section-pick-a-friend .section-inner .donation__input-wrapper {
  display: flex;
  width: 256px;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .donation__input-wrapper {
    width: 192px;
  }
}
.section-pick-a-friend .section-inner .donation__input-wrapper--number {
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .donation__input-wrapper--number {
    padding-left: 8px;
  }
}
.section-pick-a-friend .section-inner .donation__input-wrapper--number:invalid {
  border: 1px solid #d31414;
  color: #d31414;
}
.section-pick-a-friend .section-inner .donation__input-wrapper--number:invalid + div {
  color: #d31414;
}
.section-pick-a-friend .section-inner .donation__input-wrapper--currency {
  position: relative;
  top: 5px;
  right: 7%;
  font-size: 24px;
  color: #767474;
}
@media (max-width: 767px) {
  .section-pick-a-friend .section-inner .donation__input-wrapper--currency {
    right: 10%;
  }
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period-wrapper-outer {
  display: flex;
  justify-content: center;
  margin: 28px 0;
}
@media (max-width: 575px) {
  .section-pick-a-friend .section-inner .donation__radiobuttons-period-wrapper-outer {
    margin: 20px 0 16px 0;
  }
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period-wrapper-inner {
  display: flex;
  justify-content: space-between;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item {
  display: block;
  position: relative;
  cursor: pointer;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item:not(:first-of-type) {
  margin-left: 100px;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item::before {
  display: block;
  position: absolute;
  top: 14%;
  left: -30%;
  width: 12px;
  height: 12px;
  border: 1px solid #fe9013;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  content: "";
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item:not(:first-of-type)::before {
  top: 14%;
  left: -50%;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item--active::before {
  top: 22%;
  background: #4b9200;
  border: none;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item--active:not(:first-of-type)::before {
  top: 16%;
  left: -40%;
}
.section-pick-a-friend .section-inner .donation__radiobuttons-period__item input {
  display: none;
}
.section-pick-a-friend .section-inner .btn-wrapper {
  margin-top: 0;
  margin-bottom: 28px;
}

/*# sourceMappingURL=styles.css.map */
